<mat-tab-group style="padding-top: 40px; padding-left: 2%; padding-right: 2%;">
    <mat-tab label="My Notes">
     
      <div  fxLayout="row wrap" f1q  xLayoutAlign="start center" style="padding: 2%">
        <button mat-button  (click)="addNote()" color= "primary">New</button>
        <div *ngFor="let note of notes" style="margin: 0.5%;">
          
          <mat-card class="mat-card-live" fxFlex="calc(33.3% - 11px)"
                    fxFlex.lt-md="calc(50% - 11px)"
                    fxFlex.lt-sm="100%">
  
            <mat-card-title class="mat-card-title-live">
              <div class="row">
                <p>
                  <span style="font-size:0.9rem;" fxFlex="70" fxLayoutAlign="start center"></span>
                  <span fxFlex></span>
                  <mat-chip-list>

                    <mat-chip fxFlex="25" class="mat-chip-date"  fxLayoutAlign="center center">
                      <span style="font-size:0.7rem;">{{note.Id}}</span>
                    </mat-chip>
                  </mat-chip-list>
                </p>
                <p style="font-size:0.7rem;">Title: <span>{{note.Title}}</span></p>
                <p style="font-size:0.7rem;">Note: <span>{{note.Note}}</span></p>
              </div>
            </mat-card-title>
            <mat-card-content fxLayoutAlign="center center">
            
            </mat-card-content>
            <mat-card-actions style="margin:1px;padding-bottom:5px; padding-top: 5px;">
              <button mat-button (click)="editNote(note)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-button color = "warn" (click)="deleteNote(note)"> 
                <mat-icon>delete</mat-icon>
                
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-tab>
  
    
  </mat-tab-group>